     <p>&copy; Derek H. All rights reserved. | Photos by <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
      <a href="#" target="_blank"><img src="../img/social/github.svg" height="32px" width="32px"></img></a>
       <a href="#" target="_blank"><img src="../img/social/twitter.svg" height="32px" width="32px"></img></a>
        <a href="#" target="_blank"><img src="../img/social/youtube.svg" height="32px" width="32px"></img></a>
         <a href="#" target="_blank"><img src="../img/social/linkedin.svg" height="32px" width="32px"></img></a>